<script type='text/javascript'>
  $(function() {
    $('#loginbutton').facebook_login({
      appId: '<%= ENV['FACEBOOK_APP_ID']; %>',
      endpoint: '/sessions/new',
      onSuccess: function(data) {
        window.location.href = '/';
      },
    });
  });
</script>
<div class='container'>
  <div class='row'>
    <h1 class='headline'>MYLO</h1>
    <img class='reddcoin-logo' src='/images/reddcoin.png' />
    <h2 class='tagline'>Your ReddCoin management solution</h3>
  </div>
  <br />
  <div class='login'>
    <button id='loginbutton' class="btn btn-facebook btn-lg"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
  </div>
  <br />
  <div class='row'>
    <div class='col-md-5 col-md-offset-1'>
      <div class='block'>
        <h3 class='feature'>
          Automated Transfers
        </h3>
        <h1 style='color:#fff;'><i class="fa fa-clock-o fa-3x"></i></h1>
        <p class='description'>
          Transfer 5000RDD to Orlaith tomorrow.
        </p>
      </div>
    </div>
    <div class='col-md-5'>
      <div class='block'>
        <h3 class='feature'>
          Recurring Subscriptions
        </h3>
        <h1 style='color:#fff;'><i class="fa fa-repeat fa-3x"></i></h1>
        <p class='description'>
          Pay my gym fees of 1250RDD on the 1st of each month.
        </p>
      </div>
    </div>
  </div>
  <br />
  <div class='row'>
    <div class='col-md-5 col-md-offset-1'>
      <div class='block'>
        <h3 class='feature'>
          Your Rules
        </h3>
        <h1 style='color:#fff;'><i class="fa fa-bolt fa-3x"></i></h1>
        <p class='description'>
          Stop transactions if my balance goes below 1000RDD.
        </p>
      </div>
    </div>
    <div class='col-md-5'>
      <div class='block'>
        <h3 class='feature'>
          Sit back and relax
        </h3>
        <h1 style='color:#fff;'><i class="fa fa-smile-o fa-3x"></i></h1>
        <p class='description'>
          MYLO's got you covered.<br />Simple.
        </p>
      </div>
    </div>
  </div>
</div>
