<script type='text/javascript'>
  $(function() {
    $('#loginbutton').facebook_login({
      appId: '<%= ENV['FACEBOOK_APP_ID']; %>',
      endpoint: '/sessions/new',
      onSuccess: function(data) {
        window.location.href = '/';
      },
    });
  });
</script>
<div class='container'>
  <div class='row'>
    <h1 class='headline'>MYLO</h1>
    <img class='reddcoin-logo' src='/images/reddcoin.png' />
    <h2 class='tagline'>Reddcoin transfers &amp; subscriptions made easy!</h3>
  </div>
  <br />
  <div class='login'>
    <button id='loginbutton' class="btn btn-facebook btn-lg"><i class="fa fa-facebook"></i> | Connect with Facebook</button>
  </div>
  <br />
  <div class='row'>
    <div class='col-md-3'>
      <div class='block'>
        <h3 class='feature'>
          Automated Transfers
        </h3>
        <h1 style='color:#fff;'><i class="fa fa-clock-o fa-1x"></i></h1>
        <p class='description'>
          Transfer 5000RDD to Orlaith tomorrow.
        </p>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='block'>
        <h3 class='feature'>
          Recurring Subscriptions
        </h3>
        <h1 style='color:#fff;'><i class="fa fa-repeat fa-1x"></i></h1>
        <p class='description'>
          Put 10K into my Cryptsy wallet weekly.
        </p>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='block'>
        <h3 class='feature'>
          Your<br />Rules
        </h3>
        <h1 style='color:#fff;'><i class="fa fa-bolt fa-1x"></i></h1>
        <p class='description'>
          Stop everything if my balance drops below... 
        </p>
      </div>
    </div>
    <div class='col-md-3'>
      <div class='block'>
        <h3 class='feature'>
          Sit back<br />and relax
        </h3>
        <h1 style='color:#fff;'><i class="fa fa-smile-o fa-1x"></i></h1>
        <p class='description'>
          Let MYLO worry about remembering.
        </p>
      </div>
    </div>
  </div>
</div>
